
@{
    ViewBag.Title = "solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.idProyecto</h2>
<div class="row">



</div>

<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script>
    function proyecto(id) {
        alert(id);
        var entidad = {};
        entidad.codProyecto = id;
        $.ajax({
            "data": entidad,
            "url": 'http://localhost:9586/api/Asignar/BuscarProyectoName',
            "dataType": "json",
            "type": "POST",
            "cache": false,
            "async": false,
            success: function (data) {
                console.log("objeto", data.length);
                output = ' <table id="example1" class="table table-bordered table-striped" width="100%">';
                output += '<thead><tr><th>Código</th><th>Proyecto</th><th>Fecha solicitud</th><th>Fecha inicio</th><th>Fecha Fin</th><th>Estado</th><th>Operaciones</th></tr></thead><tbody>';
                console.log("datax", data);
                //    for (const i in data) {
                console.log(data);
                if (data.estado == "0: Registros encontrados") {
                    output += '<tr><td colspan="7" align="center">' + data.estado + '</td></tr>';
                }
                else {

                    var fecha_creacion = new Date(data.fechaCreacion);
                    var fecha_inicio = new Date(data.fechaInicio);
                    var fecha_fin = new Date(data.fechaFin);

                    output += '<tr><th scope="row">' + data.codProyecto + '</th><td>' + data.nombreProyecto + '</td><td>' + fecha_creacion.toLocaleDateString() + '</td><td>' + fecha_inicio.toLocaleDateString() + '</td><td>' + fecha_fin.toLocaleDateString() + '</td><td>' + data.estado + '</td><td><a href="solicitud/index/' + data.codProyecto + '">Seleccionar</a></td></tr>';
                }
                //console.log(data[i].DEPA_DESCRIPCION);
                output += '</table>';
                //  }

                $('#resultado').html(output);

            }
        });

    }
    proyecto(@ViewBag.idProyecto);
</script>
