
@{
    ViewBag.Title = "solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">PROYECTO</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="nombreProyecto">
                </div>
                <div class="form-group">
                    <label>Jefe Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="jefeProyecto">
                </div>
                <div class="form-group">
                    <label>Fecha Solicitud</label>
                    <input class="form-control" disabled="" type="text" id="fechaSolicitud">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Fecha inicio Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="fechaInicio">
                </div>
                <div class="form-group">
                    <label>Fecha Fin proyecto</label>
                    <input class="form-control" disabled="" type="text" id="fechaFin">
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <label>Operaciones</label>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary  btn-sm">Aceptar Solicitud</button>
                </div>
                <div class="form-group">
                <button type="button" class="btn btn-block btn-danger btn-sm">Rechazar Solicitud</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-success btn-sm">Solo Grabar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Jefe Inspección</label>
                    <input class="form-control" disabled="" type="text" value="Juan Ramirez" id="jefeInspeccion">
                </div>
                <div class="form-group">
                    <label>Usuario creación</label>
                    <input class="form-control" disabled="" type="text"  id="usuarioCreacion">
                </div>


            </div>
        </div>
    </div>
</div>
<div class="card card-primary">
       <div class="row">
        <div class="card card-info col-sm-6">
            <div class="card-header">
                <h3 class="card-title">Coordinador</h3>
            </div>
            <div class="col-sm-6">
                <table border="0" style="width:"100%">
                    <tr>
                        <td><button type="button" class="btn btn-block btn-primary  btn-sm">Buscar.. </button>
                        </td>
                        <td>
                            <label>Usuario creación</label>
                            <input class="form-control" disabled="" type="text" id="nombreProyecto">
                         </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input class="form-control float-right" id="reservation" type="text">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input class="form-control float-right" id="reservation" type="text">
                            </div>


                        </td>
                    </tr>

                </table>



            </div>
        </div>
        <div class="card card-info col-sm-6">
            <div class="card-header">
                <h3 class="card-title">Inspector</h3>
            </div>
            <div class="col-sm-6">
                <label>Inspector</label>
            </div>

        </div>
    </div>
    </div>

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script>
    function proyecto(id) {
         var entidad = {};
        entidad.codProyecto = id;
        $.ajax({
            "data": entidad,
            "url": 'http://localhost:9586/api/Asignar/BuscarProyectoName',
            "dataType": "json",
            "type": "POST",
            "cache": false,
            "async": false,
            success: function (data) {
                  console.log(data);
                    var fecha_creacion = new Date(data.fechaCreacion);
                    var fecha_inicio = new Date(data.fechaInicio);
                    var fecha_fin = new Date(data.fechaFin);
                $("#nombreProyecto").val(data.nombreProyecto);
                $("#jefeProyecto").val(data.jefeProyecto);
                $("#usuarioCreacion").val(data.usuarioCreacion);
                $("#fechaSolicitud").val(fecha_creacion.toLocaleDateString());
                $("#fechaInicio").val(fecha_inicio.toLocaleDateString());
                $("#fechaFin").val(fecha_fin.toLocaleDateString());

            }
        });

    }
    proyecto(@ViewBag.idProyecto);
    </script>
