
@{
    ViewBag.Title = "solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">PROYECTO</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="nombreProyecto">
                </div>
                <div class="form-group">
                    <label>Jefe Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="jefeProyecto">
                </div>
                <div class="form-group">
                    <label>Fecha Solicitud</label>
                    <input class="form-control" disabled="" type="text" id="fechaSolicitud">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Fecha inicio Proyecto</label>
                    <input class="form-control" disabled="" type="text" id="fechaInicio">
                </div>
                <div class="form-group">
                    <label>Fecha Fin proyecto</label>
                    <input class="form-control" disabled="" type="text" id="fechaFin">
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <label>Operaciones</label>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary  btn-sm">Aceptar Solicitud</button>
                </div>
                <div class="form-group">
                <button type="button" class="btn btn-block btn-danger btn-sm">Rechazar Solicitud</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-success btn-sm">Solo Grabar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card-body">
                <!-- text input -->
                <div class="form-group">
                    <label>Jefe Inspección</label>
                    <input class="form-control" disabled="" type="text" value="Juan Ramirez" id="jefeInspeccion">
                </div>
                <div class="form-group">
                    <label>Usuario creación</label>
                    <input class="form-control" disabled="" type="text"  id="usuarioCreacion">
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Seleccionar Coordinador</h3>
            </div>
            <div class="card-body">
                <label>Nombre Coordinador</label>
                <input class="form-control" placeholder="" type="text">
                <div class="form-group">
                    <label>Fechas</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text">
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date mm/dd/yyyy -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary  btn-sm" data-toggle="modal" data-target="#exampleModal">Buscar...</button>
                </div><!-- /.input group -->
            </div>
            <!-- /.form group -->

        </div>
        <!-- /.card-body -->
    </div>
    <div class="col-sm-6">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Seleccionar Inspector</h3>
            </div>
            <div class="card-body">
                <label>Nombre Coordinador</label>
                <input class="form-control" placeholder="" type="text">
                <div class="form-group">
                    <label>Fechas</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text">
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date mm/dd/yyyy -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary  btn-sm">Buscar...</button>
                </div><!-- /.input group -->
            </div>
            <!-- /.form group -->

        </div>
        <!-- /.card-body -->
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Recursos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombres Cordinador</label>
                    <input class="form-control"  type="text" id="nombreCoordinador">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script>
    function proyecto(id) {
         var entidad = {};
        entidad.codProyecto = id;
        $.ajax({
            "data": entidad,
            "url": 'http://localhost:9586/api/Asignar/BuscarProyectoName',
            "dataType": "json",
            "type": "POST",
            "cache": false,
            "async": false,
            success: function (data) {
                  console.log(data);
                    var fecha_creacion = new Date(data.fechaCreacion);
                    var fecha_inicio = new Date(data.fechaInicio);
                    var fecha_fin = new Date(data.fechaFin);
                $("#nombreProyecto").val(data.nombreProyecto);
                $("#jefeProyecto").val(data.jefeProyecto);
                $("#usuarioCreacion").val(data.usuarioCreacion);
                $("#fechaSolicitud").val(fecha_creacion.toLocaleDateString());
                $("#fechaInicio").val(fecha_inicio.toLocaleDateString());
                $("#fechaFin").val(fecha_fin.toLocaleDateString());

            }
        });

    }
    proyecto(@ViewBag.idProyecto);
    </script>
